ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
.const botoes = document.querySelectorAll(".botao");
console.log(botoes)
for(let i=0; i <  botões.length; i++){
    console.log(i);
}const botoes = document.querySelectorAll(".botao");

for(let i=0;i <botoes.length;i++){
    botoes[i].onclick = function(){

        for(let j=0;j<botoes.length;j++){
            botoes[j].classList.remove("ativo");
        }

        botoes[i].classList.add("ativo");
    }
}
for (var i = 1; i <= 5; i++) {
    console.log(i);
  }
  for (var i = 0; i <= 10; i += 2) {
    console.log(i);
  }
  var frutas = ["Maçã", "Banana", "Laranja", "Pera"];
for (var i = 0; i < frutas.length; i++) {
  console.log(frutas[i]);
}
let contador = 5;
contador += 3;
let contador = 10;
contador -= 4;
var numero = 3;
numero *= 2;
var numero = 10;
numero /= 2; 
.abas-textos{
    background-color: var(--texto-fundo);
}
.aba-conteudo.ativo{
    display:block;   
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}
.aba-conteudo{
    width: 100px;
    height: 100px;
    background: #b5b;
    margin: 10px;
  }
  
  .ativo{
    display: block;
  }